<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.ItemMapper">

    <select id="findAll" resultType="com.pinyougou.pojo.Item">
		select * from tb_item where status=#{s}
	</select>
	<!--根据goodsId 查询item表对应的数据有多条-->
    <select id="findItemListByGoodsId" resultType="com.pinyougou.pojo.Item">
		select * from tb_item where status=1 AND goods_id=#{goodsId} order by is_default ASC
	</select>
</mapper>